html,
body {
	height: 100%;
}

body {
	background-image: url("../images/bg.jpg");
	background-size: 250px;
	background-repeat: repeat;
	font-family: 'Alegreya', serif;
}

header {
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.banner {
	color: #ddcba4;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	min-height: 150px;
	padding-left: 2em;
}

.banner h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
}

h2 {
	font-style: italic;
	font-weight: bold;
}

.banner p {
	font-size: 1.5em;
}

nav {
	background-color: #5f4938;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.clear-fix {
	height: 400px;
	clear: both;
}

footer {
	clear: both;
	background-color: #5f4938;
	border-top: 1px solid #000;
	position: static;
	bottom: 0;
	width: 100%;
	line-height: 1.1em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0;
	margin-top: 1.5em;
}

a {
	text-decoration: none;
	color: #ceb275;
}

figure {
	float: right;
	border: 1px solid #5f4938;
	text-align: center;
	margin: 12px;
	background-color: #fff;
}

img {
	max-width: 300px;
}

.container {
	margin-top: 1em;
	border: 1px solid #000;
	box-shadow: 4px 4px 8px #000;
	background-color: #ddcba4;
}

/*	*******************************************
    HOME LAYOUT
******************************************* */

main {
	padding: 1em;
	position: relative;
	min-height: 100%;
	text-align: center;
}

.item-1 {
	grid-area: item-1;
	align-self: center;
	justify-self: center;
}

.item-2 {
	grid-area: item-2;
	align-self: center;
	justify-self: center;
}

.item-3 {
	grid-area: item-3;
	align-self: center;
	justify-self: center;
	/* align-items: end;
	justify-items: end; */
}

.item-4 {
	grid-area: item-4;
	align-self: center;
	justify-self: center;
}

.item-5 {
	grid-area: item-5;
	align-self: center;
	justify-self: center;
}

.home-grid {
	min-height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "item-1 . item-2" ". item-3 ." "item-4 . item-5";
}

/*	*******************************************
    ARTICLE LAYOUT
******************************************* */

section {
	grid-area: top;
}

article {
	grid-area: left;
}

aside {
	grid-area: right;
}

.grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 3fr 2fr;
	grid-template-areas: "top top" "left right";
	grid-gap: 10px;
}

/*	*******************************************
    HOMEPAGE STYLES
******************************************* */

.main-title {
	width: 500px;
	height: 300px;
	background-image: url("../images/classical.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border: 2px solid #000;
}

.main-title a {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-shadow: 2px 2px 3px #000;
}

/*	*******************************************
	NAVIGATION
******************************************* */

#navbar a.active {
	border-radius: 0;
	background-color: #ddcba4;
	color: #5f4938;
}

/*	*******************************************
	ADMIN TABLE
******************************************* */

table.table-boredered,
th,
td {
	border: 1px solid #000;
}

th {
	background-color: #5f4938;
}